// .portfolio-container > * {
//   pointer-events: all;
// }

.portfolio-container {
  font-family: Arial, sans-serif;
  color: #a4ff56;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 4;
  text-align: center;
  position: relative;
  pointer-events: none;

  .last-update {
    width: 100%;
    text-align: left;
  }
  .about-section {
    width: 100%;
    padding: 100px;
    display: flex;
    justify-content: space-around;
    // flex-direction: column;
    align-items: center;
    margin: 5%;
    line-height: 30px;
    // background-color: rgba(177, 252, 173, 0.2);
    .left-about {
      display: flex;
      flex-direction: column;

      height: auto;
      margin: 70px;
    }
    .right-about {
      pointer-events: auto;
    }
    h1 {
      font-family: "JetBrains Mono", monospace;
      pointer-events: auto;
      font-size: 100px;
      line-height: 100px;
      // align-content: center;
      margin-bottom: 50px;
    }
    h2 {
      pointer-events: auto;
      font-family: "JetBrains Mono", monospace;
      margin-bottom: 50px;
      line-height: 50px;
      color: #a5ff5697;
      font-family: Arial, Helvetica, sans-serif;
    }
    .status {
      margin: 20px;
      // align-content:center;

      background: rgba(43, 255, 0, 0.1);
      border: 3px solid rgba(43, 255, 0, 0.2);
      height: fit-content;

      p {
        text-align: left;
        margin-left: 5px;
      }
      h3 {
        padding: 10px;
        text-align: left;
        pointer-events: auto;
        height: auto;
        border-radius: 5px;
      }
    }
  }
  .contact-section {
    margin-bottom: 5%;
    pointer-events: none;
    .social-icons a {
      pointer-events: auto;
      margin: 1.5rem;
      font-size: 3.5rem;
      transition: transform 0.2s ease-in-out;
      color: #a4ff56;

      &:hover {
        filter: drop-shadow(0px 4px 20px rgba(164, 255, 86, 0.7));
        transform: scale(1.05);
      }
    }
  }
  .chat-container {
    pointer-events: auto;
  }
  .download-cv-btn {
    // margin-bottom: 15%;
    padding: 15px 25px;
    background-color: #a4ff56;
    color: #000;
    border-radius: 5px;
    text-decoration: none;
    font-size: 20px;
    transition: transform 0.2s ease-in-out;
    pointer-events: auto;
    &:hover {
      box-shadow: 0 4px 20px rgba(164, 255, 86, 0.7);
      transform: scale(1.05);
    }
    .download-cv-btn svg {
      margin-right: 8px;
    }
  }
  .flappy {
    width: 70%;
    height: auto;
  }
  .resume-container {
    overflow-y: auto;
    pointer-events: auto;
  }
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .project-card {
      margin: 1rem;
      padding: 20px;
      border: 3px #a4ff56 solid;
      border-radius: 8px;
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 150px;
      width: 240px;
      pointer-events: auto;
      &:hover {
        filter: drop-shadow(0px 4px 20px rgba(164, 255, 86, 0.7));
      }
      .card-content {
        // : center;
        padding: 10px;
        color: #a4ff56;
        border-radius: 8px;
        background: rgba(0, 0, 0, 0.9);
        text-align: center;
      }
    }
  }
}

.cv-modal {
  border: black 2px solid;
  background-color: #fff;
  padding: 1%;
  border-radius: 5px;
  overflow-y: auto;
  pointer-events: auto;
  .modal-buttons {
    pointer-events: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .modal-download {
      background-color: #a4ff56;
      padding: 10px;
      border-radius: 5px;
      margin: 5px;
      cursor: pointer;
    }
    .close-modal-btn {
      height: 30px;
      width: 60px;
      border-radius: 5px;
      background: #333;
      color: white;
      border: none;
      cursor: pointer;
    }
  }
}

.project-modal {
  position: relative;
  top: 10%;
  width: 60%;
  max-width: 600px;
  margin: auto;
  pointer-events: auto;
  color: antiquewhite;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.9);

  // padding: 2rem;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: 2px solid black;
  outline: none;
  text-align: center;
  .m-btn-group {
    display: flex;
    align-items: center;
    justify-content: center;
    button {
      height: 40px;
    }
  }
  h2 {
    margin-bottom: 1rem;
  }
}
.payments {
  pointer-events: auto;
}
.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 1000ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

@media (max-width: 600px) {
  .portfolio-container {
    overflow: hidden;
    .about-section {
      display: flex;
      flex-direction: column;
      padding: 50px 20px 50px 20px;
      .left-about {
        margin: 20px;
      }
      h1 {
        font-size: 50px;
        line-height: 50px;
        margin-bottom: 50px;
      }
      h2 {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 50px;
      }
      .status {
        margin: 10px;
        h3 {
          padding: 5px;
        }
      }
      margin-top: 40%;
    }
  }
  .project-modal {
    max-height: 400px;
    overflow-y: auto;
    pointer-events: auto;
  }
  .flappy {
    width: 100%;
    height: auto;
  }
}
