.resume {
  display: flex;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  pointer-events: auto;
  overflow-y: auto;

  .left-column {
    width: 20%;
    background-color: #1a3b68;
    color: white;
    padding: 10px;
    .name-title {
      margin-bottom: 15px;
      h2 {
        display: none;
      }
    }

    .contact-info,
    .skills,
    .languages,
    .links,
    .hobbies {
      margin-bottom: 20px;

      h2 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #fff;
        border-bottom: 1px solid #fff;
        padding-bottom: 5px;
      }

      ul {
        line-height: 1.5;
        font-size: 14px;
        padding-inline-start: 10px;

        a {
          color: white;
        }
      }

      p {
        font-size: 14px;
        line-height: 1.5;
      }
    }
  }

  .right-column {
    width: 70%;
    padding: 20px;

    h1 {
      font-size: 28px;
      color: #1a3b68;
    }

    h2 {
      font-size: 20px;
      color: #666;
    }

    .profile,
    .prog-experience,
    .prof-experience,
    .education {
      margin-bottom: 20px;

      h3 {
        font-size: 18px;
        margin-bottom: 10px;
        color: #1a3b68;
        border-bottom: 2px solid #1a3b68;
        padding-bottom: 5px;
      }

      h4 {
        font-size: 16px;
        color: #333;
        margin-top: 10px;
      }

      p,
      ul li {
        font-size: 14px;
        color: #555;
        line-height: 1.2;
      }

      ul {
        // list-style-type: none;

        li {
          margin-left: 15px;
        }
      }
    }
  }
}

/* Styles for screens smaller than 768px (mobile) */
@media (max-width: 768px) {
  .resume {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 98%;

    .left-column {
      width: 98%;
      background-color: #1a3b68;
      color: white;
      padding: 5px;
      .name-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
        h2 {
          display: block;
        }
      }

      ul {
        li {
          list-style-position: inside;
          margin-right: 1px;
        }
      }
    }

    .right-column {
      width: 100%;
      padding: 5px;
      h1,
      h2 {
        display: none;
      }
      li {
        margin-left: 0px;
      }
    }
  }
}
