// #root {
//   margin: 0px;
//   padding: 0px;
// }
// body {
//   margin: 0px;
//   padding: 0px;
// }

* {
  margin: 0px;
  padding: 0px;
  pointer-events: all !important;
}

// html {
//   margin: 0px;
//   padding: 0px;
// }
